/*
	
	## LOVELY SASS STUFF ##

*/

/**
*	Imports
**/

@import 'reset.css';
@import 'bourbon';
@import 'neat';
@import '_assets/scss/base/base';
@import '_assets/scss/framework/grid';
@import 'svgs/icons.svg.css';
@import 'modal.css';
@import 'pikaday.css';
@import 'timepicker.css';


/**
*	Colors
**/

$color-black: #141212;
$primary-color: #009fe3;
$color-text-black: #575756;
$color-orange: #ff6600;
$color-blue:#0099cc;
$color-white:#fff;
$color-alt-blue:#0091cf;

/**
*	Font Setup 
**/

$font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
$serif-font-family: 'Noto Serif', Helvetica, Arial, sans-serif;
$default-font-size: 18; //Default

$light: 300;
$medium: 400;
$bold: 700;
$black: 900;

/**
*	Variables
**/

$image-gradient-color-bottom: #009fe3; 
$transparency-top: 0.2;
$image-gradient-color-top: #00b6e3; 
$transparency-bottom: 0.2;
$vertical-angle: 0deg;

/**
*	Functions 
**/

$S:     480px;   
$M:     768px;     
$L:     1170px;     

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin rem-fallback($property, $values...) {
  $context: $default-font-size;
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  } 

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + $value/$context}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  } 
  
  #{$property}: $pxValues; 
  #{$property}: $remValues; 
}

/**
 * Computes a top-shadow for a card effect.
 *
 * @param {Number} $depth - depth level
 *
 * @return {List}
 */
@function top-shadow($depth) {
  $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
  $blur: nth(1.5 3 10 14 19, $depth) * 4px;
  $color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));

  @return 0 $primary-offset $blur $color;
}


@function bottom-shadow($depth) {
  $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
  $blur: nth(1 3 3 5 6, $depth) * 4px;
  $color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));

  @return 0 $primary-offset $blur $color;
}

@mixin card($depth) {
  @if $depth < 1 {
    box-shadow: none;
  } @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `card`.";
  } @else {
    box-shadow: bottom-shadow($depth), top-shadow($depth);  
  }
}

/**
*	SITE
**/

html, body, body, button, h1, h2, h3, h4, h5, h6, input, input[type="button"], input[type="reset"], input[type="submit"], label, select, ul, li, ol, p, span, strong, a{
	font-family: $font-family;
	font-size:	$default-font-size;
	font-weight: $medium;
	color:$color-text-black;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

img{
	width:100%;
}

#container, .container{

}

.button{
	@include rem-fallback(line-height, 50);
	border-radius:5px;
	@include rem-fallback(padding, 10,30);
	text-transform:uppercase;
	@include rem-fallback(font-size, 18);
	font-weight:$bold;
	color:$color-white;

	&.blue{
		background-color:$primary-color;
	}

	&.orange{
		background-color:$color-orange;
	}
}

.stretch{
	img{
		max-width:none !important;
	}
}

.card-box{
	background:$color-white;
	@include rem-fallback(padding, 35,50);
	@include card(1);
	@include rem-fallback(margin, 100,0);
}

.overlay {
	@include background-image(linear-gradient($vertical-angle, transparentize($image-gradient-color-top, $transparency-top), 
	  transparentize($image-gradient-color-bottom, $transparency-bottom)));
	display: block;
	@include position(absolute, 0px 0px 0px 0px);
}

.nopad{
	@include rem-fallback(padding, 0,0);
}

.side-image {  

  @include row(table);

  .images-wrapper {
    background-size: cover;
    display: block;
    padding: 3em;

	display:table-cell;
	background-position: bottom;
	background-size: cover;
  }

  .side-image-content {
  	display:table-cell;
  }

  @include reset-display();
}

a:hover, a:focus{
	text-decoration:underline;
	color:inherit;

	&.button{
		color:$color-white;
	}
}

.mobile-only{
	display:none;
}

.alert{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	border-radius:5px;
	border:2px solid #eee;
	background:#ececec;
	@include rem-fallback(padding, 10);
	@include rem-fallback(font-size, 16);
	z-index:9999;

	&.alert-success{
		background:#dff0d8;
		border-color:#d6e9c6;
		color:#3c763d;
	}
	&.alert-error{
	    color: #a94442;
	    background-color: #f2dede;
	    border-color: #ebccd1;
	}
}

/** NAVIGATION **/

header{

	@include rem-fallback(padding-top, 25);

	position: absolute;
	top:0;
	width:100%;
	z-index:9995;

	&#theNav{
		&.follow {
		    position:fixed; 
		    top:0px; 
		    background: white;  
		    color:black; 
		    text-shadow:none;
		    width: 100% !important;
		    left:0;
		    background:$primary-color;
		    @include rem-fallback(padding, 10, 0, 10, 0); 
		}
	}
	
	#logo{
		img{

		}
	}

	nav.mobile-only{
		display:none;
	}

	nav{
		@include rem-fallback(margin-top, 10);

		a{
			color:$color-white;
			@include rem-fallback(font-size, 18);
			height:100%;
			&:hover{
				color:$color-white;
			}
		}

		> ul {
			> li{
				> a{
					text-align:center;
				}
			}
		}

		.nav-link{

			position:relative;

			> a{
				text-align:center;
			}

			> .submenu{
				max-width:50%;
			}

			.submenu{
				display:none;
				float:none;
			}

			&:hover, &:focus{
			
				> a{
					background:$color-alt-blue;
					border-radius: 5px 5px 0 0;
					@include rem-fallback(margin-top,-10);
					@include rem-fallback(padding, 10, 20,10,20);
				}

				> .submenu{
					transition-timing-function: ease-out;
					position:absolute;
					display: block;
					overflow-x:hidden;
					overflow-y:hidden;
					@include rem-fallback(margin, 37,0,0,6);
					top:0;
					@include rem-fallback(padding, 10, 20,10,20);
					background:$color-alt-blue;
					border-radius:0 5px 5px 5px;

					li{
						a{
							@include rem-fallback(padding, 1,0);
							display:block;
							@include rem-fallback(font-size, 14);
						}
					}

					ul.countries{

						background:$color-alt-blue;
						position:relative;
						z-index:100;
						@include rem-fallback(margin,10%,0,0,0);
						border-left:1px solid #80c8e7;
						@include rem-fallback(margin-right, 20);
						@include rem-fallback(padding-left,20);

						li{

							@include rem-fallback(margin,10,0);

							a{
								display:table;
								white-space:pre;
								text-transform:capitalize;
								vertical-align:middle;
								@include rem-fallback(margin,5,0);

								img{
									max-width:55px;
									max-height:35px;
									border-radius:5px;
									display:table-cell;
									vertical-align:middle;
								}
							}
						}
					}

					ul.links{

						overflow-x:hidden;

						#slider{
							transition: 0.3s;
							margin-left:0%;
							width:200%;
							transition-timing-function: ease-out;

							&.slideLeft{
								margin-left:-100%;
							}

							li{
								a.backLink{
									font-style:italic;
								}
							}

						}



						li{
							a{
								@include rem-fallback(margin, 5, 0);
							}
						}
					}
				}
			}

			a:hover{
				color:$color-white;
			}
		}

		& > li:first-of-type:focus,li:first-of-type:hover{
			.submenu{
				a{
					border-radius: 0 0 0px 0px;
					//@include rem-fallback(padding, 0, 20,10,20);
				}
			}
		}

		.hover-menu {
			overflow: visible;
			padding-right: 0;


			.hover-menu-item {
				left: 0;
				position: relative;

				&::after {
				}
			}
		}
	}
}

/** Contact Modal **/

#contactModal, #contactCallModal{
	.modal-content{
		@include rem-fallback(padding, 30px, 75px);

		h4{
			@include rem-fallback(font-size, 29);
			text-transform:uppercase;
			color:$primary-color;
			font-weight:$bold;
		}

		p{
			@include rem-fallback(margin, 25, 0);
		}

		fieldset{
			background:none;
			padding:0;
			border:none;
			margin:0;

			@include rem-fallback(margin, 25, 0);

			label{
				@include rem-fallback(font-size, 13);
				font-weight:$bold;

				input, textarea{
					border:none;
					border-bottom:1px solid #818180;
					@include rem-fallback(font-size, 16);
					@include rem-fallback(margin, 15, 0, 0,0);
					box-shadow:none;
				}

				textarea{
					height:150px;
				}

				&:hover{
					color:$primary-color;

					input{
						border-color:$primary-color;
					}
				}
			}
		}

		.modal-body{
			div.pushright{
				text-align:right;

				button{
					box-shadow:none;
					border:none;

					@include rem-fallback(padding, 15, 20);
					@include rem-fallback(line-height, 21);

					&:hover{
						color:$color-white;
						text-decoration:underline;
					}
				}
			}
		}
	}
}

/** HERO - Homepage **/

#hero{
	.image-gradient-dynamic {
	  
	  line-height: 0;
	  position: relative;
	  width: 100%;

	  img {
	   height: auto;
	   left: 0; 
	   position: relative;
	   top: 0;
	   width: 100%;
	  }

	  .copy {
	    margin: auto;
	    position:relative;
	    text-align: center;
	    @include rem-fallback(padding, 250px,0, 175px,0);
	    z-index: 9001;

	    & *{
	    	color:$color-white;
	    }

	    h2{
	    	text-transform:uppercase;
	    	font-weight:$bold;
	    	@include rem-fallback(font-size, 32);
	    	letter-spacing: 3;
	    }

	    h4{
	    	@include rem-fallback(font-size, 21);
	    	@include rem-fallback(line-height, 32);
	    	@include rem-fallback(margin-bottom, 30);
	    	letter-spacing: 0.5;

	    }

	    p {
	      color: white;
	      line-height: 1.5em;
	      @include rem-fallback(padding,10);
	      position: relative;
	    }
	  }
	}

	.cta{
		&.left{
			text-align:right;
		}
		&.pushright{
			text-align:left;
		}
	}
}

#services, #cs{
	.card-box{
		text-align:center;

		p{
			@include rem-fallback(font-size,18);
			@include rem-fallback(line-height,32);
			text-align: justify;
			text-align-last: center;

			&:first-of-type{
				font-weight:$bold;
				color:$primary-color;
			}
		}
	}
}

#sectors{
	@include rem-fallback(max-height,200);
	overflow:hidden;

	.container{
		position:relative;
		z-index:9001;
		text-align:center;
		@include rem-fallback(padding, 45,0, 25);

		*{
			@include rem-fallback(font-size,35);
			color:$color-white;
		}

		ul{

		}
	}

	.cd-intro {
		width: 90%;
		max-width: $M;
		text-align: center;
	}

	.cd-words-wrapper {
		display: inline-block;
		position: relative;
		text-align: left;

		b {
			display: inline-block;
			position: absolute;
			white-space: nowrap;
			left: 0;
			text-transform:capitalize;
			text-decoration:underline;
			top: 0;

			&.is-visible {
				position: relative;

			}
		}

		.no-js & b {
			opacity: 0;
			
			&.is-visible {
				opacity: 1;
			}

		}
	}

	.cd-headline.slide {

		span {
			display: inline-block;
			padding: .2em 0;
		}

		.cd-words-wrapper {
			overflow: hidden;
			vertical-align: top;
		}

		b {
			opacity: 0;
			top: .2em;

			&.is-visible {
				backface-visibility: hidden;
				top: 0;
				opacity: 1;
				@include animation(slide-in .6s);
			}

			&.is-hidden {
				backface-visibility: hidden;
				@include animation(slide-out .6s);
			}
		}
	}

	@include keyframes(slide-in) {
		0% {
			opacity: 0;
			@include transform(translateY(-100%));
		}

		60% {
			opacity: 1;
			@include transform(translateY(20%));
		}

		100% {
			opacity: 1;
			@include transform(translateY(0));
		}
	}

	@include keyframes(slide-out) {
		0% {
			opacity: 1;
			@include transform(translateY(0));
		}

		60% {
			opacity: 0;
			@include transform(translateY(120%));
		}

		100% {
			opacity: 0;
			@include transform(translateY(100%));
		}
	}
}

#contact{
	.overlay{
		z-index:-1;
	}

	.container{
		@include rem-fallback(padding, 100,0);
		.card-box{
			@include rem-fallback(margin, 0,0);

			.images-wrapper{
			    background-image: url('/imgs/card-imgs/au-office.jpg');
			    background-repeat:no-repeat;
			    background-size:cover;
			    background-position:bottom;
			}
		}
		.content{
			@include rem-fallback(padding, 35,50);

			h5{
				font-weight:$bold;
				color:$primary-color;
				@include rem-fallback(font-size,38);
				text-transform:uppercase;
				@include rem-fallback(margin-bottom,10);
			}

			address{
				@include rem-fallback(font-size, 16);
				font-style:italic;
				font-weight:$light;
			}

			.deets{
				p{
					@include rem-fallback(font-size, 18);
					@include rem-fallback(margin, 0,0,30);

					a{
						@include rem-fallback(font-size, 18);
					}
				}
				strong{
					font-weight:$bold;
				}
			}
		}
	}
}

#blog{
	.container{
		@include rem-fallback(padding, 100,0);
		.card-box{
			@include rem-fallback(margin, 0,0);

			.images-wrapper{
			    background-image: url('/imgs/card-imgs/blog.jpg');
			    background-repeat:no-repeat;
			    background-size:cover;
			    background-position:bottom;
			}
		}
		.content{
			@include rem-fallback(padding, 35,50);

			h5{
				font-weight:$bold;
				color:$primary-color;
				@include rem-fallback(font-size,38);
				text-transform:uppercase;
				@include rem-fallback(margin-bottom,10);
			}

			p{
				@include rem-fallback(margin-bottom,0);
				display:block;
				strong{
					font-weight:$bold;
					@include rem-fallback(font-size,26);
					text-transform:uppercase;
					@include rem-fallback(margin-bottom,10);	
				}

				small{
					display:block;
					font-style:italic;
					@include rem-fallback(font-size,16);
					@include rem-fallback(margin-bottom,30);
				}

				&.post{
					@include rem-fallback(font-size,18);
					@include rem-fallback(line-height,32);
					@include rem-fallback(margin-bottom, 20);
				}
			}
		}
	}
}

#jobs{
	.container{
		@include rem-fallback(padding, 100,0);
		position:relative;
		z-index:9001;

		.card-box{
			@include rem-fallback(margin, 0,0);

			h5{
				text-align:center;
				color:$primary-color;
				@include rem-fallback(font-size,29);
				font-weight:$bold;
				text-transform:uppercase;
			}

			p{
				text-align:center;
				@include rem-fallback(font-size,18);
			}

			th{
				border-color:$primary-color;
				@include rem-fallback(padding,14,15);

				strong{
					@include rem-fallback(font-size,14);
					font-weight:$bold;
					text-transform:uppercase;
					@include rem-fallback(padding-left,25);
				}
			}

			td{
				@include rem-fallback(padding,14,15);
				text-transform:capitalize;
			}

			tbody{
				td{
					@include rem-fallback(padding,30,15);
					border-bottom: 1px solid #d7d7d7;

					.button{
						@include rem-fallback(padding,5,25);
						@include rem-fallback(font-size, 15);
						@include rem-fallback(line-height, 35);
					}
				}
			}

			.centered{
				text-align:center;
			}

			hr{
				border-color:$primary-color;
			}

			.table{
				@include rem-fallback(margin,40,0,50);
			}
		}
	}
}

#careers{


	.container{
		position:relative;
		z-index:9001;
		text-align:center;
		@include rem-fallback(padding, 45,0, 25);

		*{
			@include rem-fallback(font-size,29);
			color:$color-white;
		}

		h3{
			margin-bottom:0;
		}

		.button{
			@include rem-fallback(font-size,18);
			@include rem-fallback(margin-top,-10);
			@include rem-fallback(margin-left,40);
		}

	}
}

footer{
	background-color: $primary-color;
	@include rem-fallback(padding-top, 30);

	*{
		color:$color-white;
	}

	#top-footer{

		ul{
			li{
				@include rem-fallback(margin-bottom, 10);

				&.top{
					@include rem-fallback(margin-bottom, 10);
					strong{
						@include rem-fallback(font-size, 15);
						font-weight:$bold;
						text-transform:uppercase;
					}
				}

				a{
					background-repeat:no-repeat;
					@include rem-fallback(font-size, 13);
					text-transform:capitalize;
				}
			}


			&:last-of-type{
				li:nth-child(n+3){
				
					a{
						background-size: 14px 15px;
						@include rem-fallback(padding-left, 25);
						background-position:left center;
					}
				}
			}
		}
	}

	.search{
	
		input[type="text"]{
			background-color:#00b3ff;
			border:none;
			border-radius:5px 0 0 5px;
			box-shadow:inset 1px 1px 0 0 #0098d9;
			@include rem-fallback(padding, 13,30,13,15);
			background-position:95% center;
			background-size:13px 13px;
			@include rem-fallback(font-size, 12);
		}

		button.button{
			background-color:$color-alt-blue;
			color:$color-white;
			border-radius:0 5px 5px 0;
			@include rem-fallback(font-size, 11);
			font-weight:$light;
			@include rem-fallback(padding, 0);
			@include rem-fallback(line-height, 40);
		}

		> p{
			strong{
					@include rem-fallback(font-size, 15);
					font-weight:$bold;
					text-transform:uppercase;
			}
		}

		div{
			*{
				@include rem-fallback(font-size, 12);
			}

			p{
				strong{
					font-weight:$bold;
					text-transform:uppercase;
					@include rem-fallback(margin-top, 15);
					display:block;
				}

				em{
					font-style:italic;
				}

				a:hover{
					text-decoration:underline;
				}
			}
		}
	}

	#bottom-footer{
		background-color: $color-alt-blue;
		@include rem-fallback(margin-top, 50);
		@include rem-fallback(padding, 25,0, 10);

		*{
			@include rem-fallback(font-size, 12);
		}

		ul{
			text-align:center;

			li{
				display:inline-block;
				@include rem-fallback(margin-left, 10);

				a{
					text-transform:capitalize;
				}
			}
		}
	}
}

/**
* CONTENT PAGES
**/

#services{

	#hero{
		.container{
			&.copy{
				@include rem-fallback(padding, 150,0,75,0);
				text-align:left;

				h3{
					@include rem-fallback(font-size, 36);
					font-weight:$bold;
					@include rem-fallback(padding,0,10);
					margin-bottom:0;
					@include rem-fallback(margin-top,10);
				}

				p{
					@include rem-fallback(line-height, 28);
					@include rem-fallback(font-size, 18);
				}
			}
		}

		.anystretch{
			img{
				filter: blur(5px);
			}
		}
	}

	#theContent{

		background:$color-white;
		@include rem-fallback(padding,75, 0);

		aside{

			#poc{

				&.card-box{
					margin-top:0;
				}
				
				.contact-top{
					@include rem-fallback(height,130);
					display:block;
					z-index:9990;
					position:relative;
				}

				.contact-bottom{

					@include rem-fallback(padding,40);
		
					figure{
						z-index:9998;
						position:relative;
						@include rem-fallback(margin-top,-130);

						img{
							border-radius:500px;
						}
					}

					> p:first-of-type{
						@include rem-fallback(margin-top,20);
						@include rem-fallback(margin-bottom,0);
						@include rem-fallback(font-size, 20);
					}

					> p:nth-child(3n){
						@include rem-fallback(font-size, 16);
						@include rem-fallback(line-height,24);
						font-style:italic;
						text-align:center;
					}

					address{

						@include rem-fallback(margin-bottom,30);

						p{
							@include rem-fallback(font-size, 16);
							color:$color-text-black;
							margin-bottom:0;
							@include rem-fallback(line-height, 26);
							font-weight:$medium;
							font-style:normal;
						}
					}
				}
			}

			.downloads{
				h4{
					color:$primary-color;
					@include rem-fallback(font-size, 19);
					font-weight:$bold;
					text-transform:uppercase;
					background-position:top left;
					@include rem-fallback(padding-left, 70);
					@include rem-fallback(padding-bottom, 5);
					@include rem-fallback(padding-top,5);
					@include rem-fallback(margin-right, 30);
				}

				hr{
					@include rem-fallback(margin-top, 5);
					border-color:$primary-color;
				}

				ul{
					li{
						a{
							text-transform:uppercase;
							@include rem-fallback(font-size, 13);
							@include rem-fallback(padding, 5, 40);

							&:hover{
								color:$primary-color;
							}
						}
					}
				}
			}
		}

		&.fourohfour{
			form{
				input{

				}
				button{
					@include rem-fallback(padding, 10,15);
					@include rem-fallback(line-height, 22);
				}
			}
		}

		article{
			h2{
				@include rem-fallback(font-size, 30);
				font-weight:$bold;
				@include rem-fallback(padding, 10, 0);
			}
			p{
				@include rem-fallback(line-height, 34);
				@include rem-fallback(margin-bottom, 20);
			}

			ul, ol{
				list-style:inside disc;
				@include rem-fallback(margin, 0, 0, 30, 20);

				li{
					@include rem-fallback(margin-bottom, 20);
					@include rem-fallback(line-height, 34);
				}
			}

			strong{
				font-weight: $bold;
			}

			em{
				font-style:italic;
			}
			
			a{
				color:$primary-color;
			}
		}


		&.contact{
			article{
				address{
					p{
						@include rem-fallback(margin-bottom, 10);
						@include rem-fallback(line-height,23);
					}
					@include rem-fallback(margin-bottom, 20);
				}

				figure{
					img{
						border-radius:5px;
					}
				}
				@include rem-fallback(margin-bottom, 20);
			}	

			form{
				
				background-color: #f7f7f7;
    			border: 1px solid #ddd;
    			@include rem-fallback(margin-top, 20);

				fieldset{
					background:none;
					border:none;
					@include rem-fallback(margin-bottom, 10);
					@include rem-fallback(padding, 20, 20, 5, 20);
					width:100%;
				}

				div{
					text-align:right;

					button{
						@include rem-fallback(margin, 0, 20, 20, 20);
						@include rem-fallback(padding, 10,15);
						@include rem-fallback(line-height, 28);
					}
				}
			}
		}
	}

	#subLinks{
		background:#575756;

		ul{
			display:table;
			text-align:center;

			li{
				text-align:center;
				display:table-cell;
				vertical-align:middle;
				float:none;
				width:24%;
				position:relative;

				&.active{
					background:$primary-color;

					&:after, &:before {
						top: 100%;
						left: 50%;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
					}

					&:after {
						border-color: rgba(0, 159, 227, 0);
						border-top-color: #009fe3;
						border-width: 15px;
						margin-left: -15px;
					}
					&:before {
						border-color: rgba(87, 87, 86, 0);
						border-top-color: #575756;
						border-width: 16px;
						margin-left: -16px;
					}
				}

				&:hover{
					background:$primary-color;
				}

				a{
					text-align:center;
					color:#fff;
					vertical-align:middle;
					display:block;
					width:100%;
					@include rem-fallback(padding,20,40);
				}
			}
		}
	}
}

/**
*	MEDIA QUERIES
**/


@media only screen and (min-width: 650px) and (max-width: 1170px) {
	
	#ui-view{

		.button{
			white-space: pre;
		}

		#services, #cs{
			.container{
				
				@include rem-fallback(padding-top, 40);
				@include rem-fallback(padding-bottom, 40);

				.card-box{
					float:none;
					margin:0 auto;
					width:50%;
				}
			}
		}

		#contact, #blog, #jobs{
			.card-box{
				float:none;
				margin:0 auto;
			}			
		}

		#services{
			#subLinks{
				.container{
					@include rem-fallback(padding, 0);
				}
			}

			#theContent{
				.container{
					.card-box{
						width:auto;
						@include rem-fallback(margin, 0,0,100,0);
					}
					article{
						&#overview{
							display:block;
						}
					}
				}
			}
		}
	}

}

@media only screen and (max-width: 980px) {
	
	html,body,a, body, button, h1, h2, h3, h4, h5, h6, html, input, input[type="button"], input[type="reset"], input[type="submit"], label, li, ol, p, select, span, strong, ul{
		font-size:16px;
	}
}

@media only screen and (max-width: 850px) {
	
	html,body,a, body, button, h1, h2, h3, h4, h5, h6, html, input, input[type="button"], input[type="reset"], input[type="submit"], label, li, ol, p, select, span, strong, ul{
		font-size:14px;
	}

	header nav .nav-link:focus > .submenu li a, header nav .nav-link:hover > .submenu li a{
		color:transparent;
	}

}

@media only screen and (max-width: 760px) {

	body{
		background:$primary-color;
	}

	#logo{
		width:40%;
		float:left;
	}

	#sectors{
		.cd-words-wrapper{
			text-align:center;
		}
	}

	header{
		nav{
			&.mobile-only{
				display:block;
				@include rem-fallback(padding, 15, 20);
				border:1px solid #fff;
				float:right;
				margin-top:0;
				@include rem-fallback(margin-right, 10);

				a{
					@include rem-fallback(font-size, 16);
					@include rem-fallback(padding-left, 52);
					text-transform:uppercase;
					font-weight:bold;

					&:hover{
						color:#fff;
					}
				}
			}

			&#theMenu{
				display:none;
			}
		}
	}

	.mp-level{
		background:$primary-color;	
	}

	.regions{
	    display: block;
	    left: 0;
	    position: absolute;
	    bottom:0;
	    border-top: 1px solid rgba(0,0,0,0.2);
	    width:100%;
	    z-index: 9999;
	    @include rem-fallback(padding, 30,0,20,0);

	    a{
	    	color:#fff;
	    	width:29%;
	    	display:inline-block;
	    	text-align:center;
	    	@include rem-fallback(margin, 0,3);

	    	img{
				border-radius:5px;
				opacity:0.5;
				width:80%;
				transition: all 0.3s ease-in-out;
	    	}

	    	&:hover{
	    		img{
	    			opacity:1;
	    		}
	    	}
	    }
	}

	#ui-view{
		#services{
			#theContent{
				.container{
					.fourteen{
						width:100%;
						@include rem-fallback(padding, 0,20);
					}
				}
			}
		}
	}

}

@media only screen and (max-width: 700px) {

	#theNav{
		&.follow{
			#logo{
				width:30%;
			}
		}
	}

	
	#ui-view{

		#contact{
			.card-box{

				text-align:center;

				.deets{
					clear:both;
					display:block;
					width:100%;
					text-align:center;
					@include rem-fallback(margin-bottom, 10);

					p{
						@include rem-fallback(margin-bottom, 0);
					}
				}
			}			
		}

		#theContent{
			aside{
				#poc{
					.contact-bottom{
						@include rem-fallback(padding,20);
					}
				}
			}
		}

	}

}

@media only screen and (max-width: 650px) {

	.button{
		white-space: pre;
	}

	#ui-view{

		#hero{
			.copy{
				@include rem-fallback(padding, 100, 0, 40);
			}
		}

		.button{
			white-space: pre;
		}

		#services, #cs{
				
				@include rem-fallback(padding-top, 40);
				@include rem-fallback(padding-bottom, 40);

				.card-box{
					float:none;
					margin:0 auto;
				}

				#theContent{
					.container{
						.card-box{
							width:auto;
							@include rem-fallback(margin, 0,0,50,0);

							.button{
								@include rem-fallback(font-size, 14);
							}
						}
					}
				}
		}

		#contact, #blog, #jobs{
			.card-box{
				float:none;
				margin:0 auto;
			}			
		}

		.container{

			@include rem-fallback(padding-left, 10);
			@include rem-fallback(padding-right, 10);		

			.card-box{
				width:100%;
			}
		}
	}

	header{
		nav{
			&.mobile-only{
				@include rem-fallback(padding, 10, 15);
			}
		}
	}

}

@media only screen and (max-width: 565px) {
	#ui-view{
		#services{
			#theContent{
				.container{
					.card-box{
						.button{
							@include rem-fallback(font-size, 12);
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 520px) {

	#ui-view{

		#contact{
			.side-image{
				.images-wrapper{
					display:none;
				}
				.side-image-content{
					width:100%;
				}
			}
		}
		
		#services{
			#theContent{
				.container{
					aside{
						.card-box{
							.contact-bottom{
								p{
									@include rem-fallback(font-size, 14);
								}
							}
						}
					}
				}
			}
		}
	}

}

@media only screen and (max-width: 480px) {

	header{
	
		#logo{
			margin:0;
			text-align:left;
		}

		nav#themenu{
			display:none !important;
		}
	}

	#ui-view{

		.container,#ui-view #hero .copy{
			@include rem-fallback(padding-left, 10);
			@include rem-fallback(padding-right, 10);	
		}

		#hero .cta.pushright, #hero .cta.left{
			text-align:center;
			@include rem-fallback(margin-bottom, 20);
		}

		#hero .cta:last-of-type{
			margin-bottom:0;
		}

		#jobs,#blog{
			display:none;
		}

		#sectors{
			.container{
				@include rem-fallback(padding, 10,0,10,0);
			}
		}

		#services{
			&.servicesPage{
				padding-top:0;
	
				.mobile-only{
					display:block;
					background:$color-white;
					@include rem-fallback(padding, 60,0,0,0);

					ul{
						display:table;
						text-align:center;

						li{
							display:table-cell;
							width:15%;
							text-align:center;
							border:1px solid $color-text-black;
							border-bottom:1px solid $primary-color;
							@include rem-fallback(padding, 15, 25);
							border-radius: 5px 5px 0px 0px;

							a{
								text-transform:uppercase;
								@include rem-fallback(font-size, 18);

								&:hover{
									color:$primary-color;
								}
							}

							&.active{
								border-color:$primary-color;
								border-bottom:none;

								a{
									color:$primary-color;
								}
							}

							&:nth-child(2n){
								border-left:none;
							}

							&:nth-child(3n){
								border-left:none;
							}
						}
					}
				}

				#hero{
					.copy{
						@include rem-fallback(padding, 100,0,20);

						figure{
							width:25%;
						}
					}
				}

				#subLinks{
					display:none;
				}

				#theContent{
					.container{
						aside{
							.card-box{
								padding-bottom:0;
								&#poc{
									display:none;
									opacity:0;

									.contact-top{
										display:none;
									}

									.contact-bottom{
										padding-bottom:0;
										padding-left:0;
										padding-right:0;

										figure{
											@include rem-fallback(padding-left,25);
											@include rem-fallback(margin-right, 25);
											margin-top:0;
											float:left;
											width:40%;
											@include rem-fallback(margin-bottom, 25);
										}

										p{
											@include rem-fallback(font-size,18);
											@include rem-fallback(padding-right,25);
										}

										p:first-of-type{
											@include rem-fallback(margin-top, 25);
										}

										.button{
											display:none;
										}

										.contactButtons{
											clear:both;
											padding-top:0;
											@include rem-fallback(margin-top, 10);
											border-top:1px solid $color-text-black;
											a{
												@include rem-fallback(padding, 10, 15);
												@include rem-fallback(font-size,15);
												width:50%;
												float:left;
												text-align:center;
												display:inline-block;

												span{
													display:inline-block;
													height:15px;
													width:15px;
													vertical-align:middle;
													margin-top:2px;
													@include rem-fallback(margin-right,15);

													&:last-of-type{
														width:18px;
													}
												}

												&:hover{
													color:$primary-color;
												}

												&:first-of-type{
													border-right:1px solid $color-text-black;
												}
											}
										}
									}
								}
							}
							.downloads{
								display:none;
								opacity:0;
								h4{
									text-align:left;
									background-repeat:no-repeat;
								}
								ul{
									text-align:center;
									a{
										@include rem-fallback(font-size,20);
										@include rem-fallback(line-height,38);
									}
								}
							}
						}
						article{
							display:block;
							* {
								text-align:left;
								@include rem-fallback(font-size,20);
								@include rem-fallback(line-height,36);
							}



							h2{
								@include rem-fallback(font-size,30);
								text-align:center;
							}
						}
					}
				}
			}
		}
	}

	header{
		nav{
			&.mobile-only{
				@include rem-fallback(padding, 5, 10);
			}
		}
	}

	footer{
		*{
			font-size: 0.9rem !important;
		}

		ul{
			margin-bottom: 2rem !important;
		}
	}
}

@media only screen and (max-width: 410px) {
	#ui-view{
		#services{
			&.servicesPage{
				#theContent{
					.container{
						aside{
							.card-box{
								&#poc{
									.contact-bottom{
										address{
											display:none;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		#contact{
			 .card-box{
				.deets{
					display:none;
				}
			 }
			 .mobile-only{
			 	display:block;

			 	a{
			 		color:$primary-color;
			 	}
			 }
		}
	}
}

@media only screen and (max-width: 340px){

	#ui-view{
		#services{
			&.servicesPage{
				.mobile-only{
					ul{
						li{
							a{
								@include rem-fallback(font-size, 14);
							}
						}
					}
				}
				#theContent{
					.container{
						aside{
							.card-box{
								&#poc{
									.contact-bottom{
										p:first-of-type{
											margin-top:0;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}


@media only screen and (max-width: 300px) {
 	.mp-menu {
		width: 165px !important;
	}
	.no-csstransforms3d .mp-pusher,
	.no-js .mp-pusher {
		padding-left: 165px !important;
	}
}
